[submodule "MapView/Map/FMDB"]
	path = MapView/Map/FMDB
	url = https://github.com/ccgus/fmdb.git
[submodule "MapView/Map/GRMustache"]
	path = MapView/Map/GRMustache
	url = https://github.com/groue/GRMustache.git
[submodule "MapView/Map/SMCalloutView"]
	path = MapView/Map/SMCalloutView
	url = https://github.com/nfarina/calloutview.git
