---
layout: default
section: developers
class: box
---
<link rel='stylesheet' href='{{site.url}}/css/developers.css' />

<style>
.section-tasks ul.task-list { margin-left:20px; }
.section-tasks ul.task-list li {
  list-style:none;
  margin:0px;
  }
.section-tasks .tooltip .tooltip { display:none; }

.section-method { margin:0px 0px 20px; }

.section-method h3,
.section-method .method-declaration { margin-bottom:10px; }

.section-method h4,
.section-method p { margin:0px; }

.section-method ul,
.section-method li,
.section-method dt,
.section-method dd,
.section-method p { margin:0px; }

.section-method ul *,
.section-method dl * { display:inline; }

.section-method dl { padding-left:20px; text-indent:-20px; }
.section-method dt { margin-right:5px; }

.method-subsection { margin-left:20px; }

.method-subsection p,
.method-subsection code,
.method-subsection dl {
  font-size:12px;
  line-height:1.6666em;
  }

.method-subsection > p,
.method-subsection > dl,
.method-subsection > code { margin-left:20px; }

.task-item-suffix,
.method-subsection.parameters em {
  font-size:12px;
  color:#88c;
  }

.method-subsection.brief-description p { font-size:15px; }
.method-subsection.brief-description p,
.method-subsection.method-declaration code { margin-left:0px; }

code p { display:inline; }
</style>

<div class='clearfix doc-header pad1 fillL'>
  <div class='cell7'>
    <h2>{{site.title}}</h2>
    <p>{{site.description}}</p>
  </div>
  <div class='cell5 doc-subnav clearfix'>
    <a href='{{site.baseurl}}/'>Guide</a>
    <a href='{{site.baseurl}}/api/' class='active'>API</a>
    <a href='{{site.baseurl}}/examples/'>Examples</a>
  </div>
</div>

<div class='doc-page pad0 fillM clearfix'>
<div class='fillW clearfix'>
  <div id='docs' class='cell9 doc-content doc float-right pad2 prose'>
    {{content}}
  </div>
  <div class='cell3 float-right'>
    <form class='pad2 doc-search'>
      <input type='text' placeholder='Search...' />
      <input type='submit' value='Search' class='icon reverse search' />
    </form>
    <div class='doc-nav'>
      {% if page.navigation %}
      {% for heading in page.navigation %}
        <h3><a href='#{{heading[0]|downcase|replace:' ','_'}}'>{{heading[0]}}</a></h3>
        <ul class='anchors'>
        {% for item in heading[1] %}
          <li><a href='#{{item|downcase|replace:' ','_'}}'>{{item}}</a></li>
        {% endfor %}
        </ul>
      {% endfor %}
      {% endif %}
    </div>
  </div>
</div>
</div>

<script type='text/javascript'>
$('h1[id], h2[id], h3[id], h4[id]').click(function(ev) {
  window.location.hash = $(ev.currentTarget).attr('id');
});
</script>
