---
layout: default
section: developers
class: box
---
<link rel='stylesheet' href='{{site.url}}/css/developers.css' />
<style>
  a.external { font: normal 12px/1.6667em Opensans,Arial,sans-serif; }
</style>

<div class='clearfix doc-header pad3 fillL'>
  <div class='cell7'>
    <h2>{{site.title}}</h2>
    <p>{{site.description}} <a class='external' href='http://github.com/mapbox/mapbox.js'>Project on GitHub</a></p>
  </div>
  <ul class='cell5 doc-subnav clearfix'>
    <li><a href='{{site.baseurl}}/'>Guide</a></li>
    <li><a href='{{site.baseurl}}/api/'>API</a></li>
    <li><a href='{{site.baseurl}}/examples/' class='active'>Examples</a></li>
  </ul>
</div>

<div class='doc-page pad3c fillM clearfix'>
  <div class='fillW prose doc-content clearfix' style='border:0'>
    <div class='doc pad2'>
      <h1>{{page.title}}</h1>
      {{content}}
    </div>
  </div>
</div>

<script>
  $(mapbox.docs);
</script>
