---
layout: default
section: developers
class: box
---
<link rel='stylesheet' href='{{site.url}}/css/developers.css' />

<div class='clearfix doc-header pad3 fillL'>
  <div class='cell7'>
    <h2>{{site.title}}</h2>
    <p>{{site.description}}</p>
  </div>
  <div class='cell5 doc-subnav clearfix'>
    <a href='{{site.baseurl}}/'>Guide</a>
    <a href='{{site.baseurl}}/api/'>API</a>
    <a href='{{site.baseurl}}/examples/' class='active'>Examples</a>
  </div>
</div>

<div class='doc-page pad3c fillM clearfix'>
<div class='fillW prose doc doc-content pad2 clearfix' style='border:0px'>
  <h1>{{page.title}}</h1>
  {{content}}
</div>
</div>

<script type='text/javascript'>
$('h1[id], h2[id], h3[id], h4[id]').click(function(ev) {
  window.location.hash = $(ev.currentTarget).attr('id');
});
</script>
