---
layout: default
section: developers
class: box
---
<link rel='stylesheet' href='{{site.url}}/css/developers.css' />

<div class='clearfix doc-header pad1 fillL'>
  <div class='cell7'>
    <h2>{{site.title}}</h2>
    <p>{{site.description}}</p>
  </div>
  <div class='cell5 doc-subnav clearfix'>
    <a href='{{site.baseurl}}/' class='active'>Guide</a>
    <a href='{{site.baseurl}}/api/'>API</a>
    <a href='{{site.baseurl}}/examples/'>Examples</a>
  </div>
</div>

<div class='doc-page pad0 fillM clearfix'>
<div class='fillW clearfix'>
  <div class='cell9 doc-content doc float-right pad2 prose'>
    <h1 id='{{page.title|downcase|replace:' ','_'}}'>{{page.title}}</h1>
    {{content}}
  </div>
  <div class='cell3 float-right'>
    <form class='pad2 doc-search'>
      <input type='text' placeholder='Search...' />
      <input type='submit' value='Search' class='icon reverse search' />
    </form>
    <div class='doc-nav'>
      {% if page.navigation %}
      {% for heading in page.navigation %}
        <h3><a href='#{{heading[0]|downcase|replace:' ','_'}}'>{{heading[0]}}</a></h3>
        <ul class='anchors'>
        {% for item in heading[1] %}
        {% if item.hash %}
          <li><a href='#{{item.hash}}'>{{item.text}}</a></li>
        {% else %}
          <li><a href='#{{item|downcase|replace:' ','_'}}'>{{item}}</a></li>
        {% endif %}
        {% endfor %}
        </ul>
      {% endfor %}
      {% endif %}
    </div>
  </div>
</div>
</div>

<script type='text/javascript'>
$('h1[id], h2[id], h3[id], h4[id]').click(function(ev) {
  window.location.hash = $(ev.currentTarget).attr('id');
});
</script>
