---
layout: default
section: developers
class: box
---
<link rel='stylesheet' href='{{site.url}}/css/developers.css' />

<div class='clearfix doc-header pad3 fillL'>
  <div class='cell7'>
    <h2>{{site.title}}</h2>
    <p>{{site.description}}</p>
  </div>
  <ul class='cell5 doc-subnav clearfix'>
    <li><a href='{{site.baseurl}}/' class='active'>Guide</a></li>
    <li><a href='{{site.baseurl}}/api/'>API</a></li>
    <li><a href='{{site.baseurl}}/examples/'>Examples</a></li>
  </ul>
</div>

<div class='doc-page pad3c fillM clearfix'>
<div class='fillW clearfix'>
  <div class='cell9 doc-content doc float-right pad2 prose'>
    <h1 id='{{page.title|downcase|replace:' ','_'}}'>{{page.title}}</h1>
    {{content}}
  </div>
  <div class='cell3 float-right'>
    <div class='doc-nav'>
      {% if page.navigation %}
      {% for section in page.navigation %}
        <ul class='nav anchors'>
          <li class='heading'><a href='#{{section.title|downcase|replace:' ','_'}}'>{{section.title}}</a></li>
        {% for item in section.items %}
        {% if item.hash %}
          <li><a href='#{{item.hash}}'>{{item.text}}</a></li>
        {% else %}
          <li><a href='#{{item|downcase|replace:' ','_'}}'>{{item}}</a></li>
        {% endif %}
        {% endfor %}
        </ul>
      {% endfor %}
      {% endif %}
    </div>
  </div>
</div>
</div>

<script>
  $(mapbox.docs);
</script>
